<div class="header-info">
    <div class="header-left">
        <img src="../assets/icons/tiktokLogo.png" alt="tiktok-icon">
        <img src="../assets/icons/instagramLogo.png" alt="instagram-icon">
        <img src="../assets/icons/facebookLogo.png" alt="facebook-icon">
    </div>

    <div class="header-logo-container">
        <a href="home.html">
            <img src="../assets/icons/logo.png" alt="logo-hotel">
        </a>
    </div>

    <div class="header-right-area">
        <ul class="contact-list">
            <li>+34 922 788 482</li>
            <li class="separator">|</li>
            <li>arenas@luxurygrancanaria.com</li>
        </ul>

        <div class="language-selector">
            <label>
                <select onchange="location = this.value;">
                    <option value="/es/">EN</option>
                    <option value="/en/">ES</option>
                </select>
            </label>
        </div>


        <nav class="auth-links" aria-label="Acceso de usuarios">
            <a class="auth-link" href="logIn.html">Login</a>
            <a class="auth-link auth-link-primary" href="register.html">Register</a>
        </nav>
    </div>
</div>
<div class="header-steps">
    <div class="step completed">
        <div class="circle">1</div>
        <p>Room</p>
    </div>
    <div class="step active">
        <div class="circle">2</div>
        <p>Details</p>
    </div>
    <div class="step">
        <div class="circle">3</div>
        <p>Payment</p>
    </div>
    <div class="step">
        <div class="circle">4</div>
        <p>Confirmation</p>
    </div>
</div>



