<div class="header-info">
  <div class="header-left">
    <img src="../assets/icons/tiktok.PNG" alt="tiktok-icon">
    <img src="../assets/icons/instagram.PNG" alt="instagram-icon">
    <img src="../assets/icons/facebook.PNG" alt="facebook-icon">
  </div>

  <div class="header-logo-container">
    <a href="home.html">
      <img src="../assets/icons/img_2.png" alt="logo-hotel">
    </a>
  </div>

  <div class="header-right-area">
    <ul class="contact-list">
      <li>+34 922 788 482</li>
      <li class="separator">|</li>
      <li>arenas@luxurygrancanaria.com</li>
    </ul>

    <div class="language-selector">
      <label>
        <select onchange="location = this.value;">
          <option value="/es/">EN</option>
          <option value="/en/">ES</option>
        </select>
      </label>
    </div>
  </div>
</div>

<header class="load-header">
  <div class="container-fluid">
    <div class="main-header">
      <nav id="main-nav">
        <ul class="main-menu">
          <li><a href="home.html">Home</a></li>
          <li><a href="accommodations.html">Accommodations</a></li>
          <li><a href="casino.html">Casino</a></li>
          <li><a href="restaurant.html">Restaurant</a></li>
          <li><a href="services.html">Services</a></li>
          <li><a href="mybookings.html">My bookings</a></li>
          <li><a href="album.html">Album</a></li>
        </ul>
      </nav>
    </div>
  </div>
</header>
