.header {
    height: 220px;
    position: relative;
    display: flex;
    justify-content: center;
}

.header-trigger {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    position: relative;
}

/* Trigger (rectángulo superior) */
.header-top {
    height: 50px; /* más pequeño */
    width: 100%;
    background-color: transparent;
    transition: background-color 0.3s ease;
}

/* Links ocultos por defecto */
.nav {
    position: absolute; /* fuera del flujo para que no interfiera con el logo */
    top: 70px;          /* ajusta según quieras que bajen */
    display: flex;
    justify-content: center;
    gap: 155px;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;
}

.nav a {
    text-decoration: none;
    color: #111;
    font-weight: 500;
}

/* Logo centrado arriba */
.header-center {
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease;
}

.logo {
    font-size: 60px;
    letter-spacing: 2px;
    margin-top: -20px; /* sube el logo */
    transition: all 0.3s ease;
}


.header-trigger:hover .header-top {
    background-color: #ffffff;
}

.header-trigger:hover .nav {
    opacity: 1;
    pointer-events: auto;
}

.header-trigger:hover .logo {
    font-size: 32px;
    transform: translateY(-20px);
}
