.header {
    height: 220px;
    position: relative;
    display: flex;
    justify-content: center;
}

.header-trigger {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Zona superior */
.header-top {
    height: 90px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    transition: background-color 0.3s ease;
}

/* Menú oculto */
.nav {
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;
}

.nav a {
    margin: 0 15px;
    text-decoration: none;
    color: #111;
    font-weight: 500;
}

/* Zona central */
.header-center {
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease;
}

.logo {
    font-size: 60px;
    letter-spacing: 2px;
    margin-top: -55px; /* sube el logo */
    transition: all 0.3s ease;
}

/* Hover sobre todo el trigger (top + logo) */
.header-trigger:hover .header-top {
    background-color: #ffffff;
}

.header-trigger:hover .nav {
    opacity: 1;
    pointer-events: auto;
}

.header-trigger:hover .logo {
    font-size: 32px;
    transform: translateY(-20px);
}
